.GeoMap {
  width: 100%;
  height: 100%;
}

.geoFooter1 {
  position: absolute;
  bottom: 0;
  /* margin: auto; */
  left: 0;
  /* right: 0; */
  width: 40%;
  margin: 16px;
}

.geoFooter2 {
  position: absolute;
  bottom: 0;
  /* margin: auto; */
  /* left: 0; */
  right: 0;
  width: 40%;
  margin: 16px;

}

.address {
  position: absolute;
  top: 3px;
  /* margin: auto; */
  left: 0;
  right: 0;
  margin-left: 3px; 
  width: 85%
}

.geoAbs {
  position: absolute;
  bottom: 20px;
  /* margin: auto; */
  left: 10px;
  /* right: 0; */
  width: 85%
  /* margin: 16px; */
}
.pointer {
  border-top: 20px solid red;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  position: absolute;
  bottom: -18px;
}
.full-content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}