.card {
  display:flex;
  margin: 10px auto;
  width: 70vw;
  min-width: 250px;
  box-shadow: 0 0 10px 1px #3333;
  border-radius: 5px;
  overflow: hidden;
}

.time-section {
  display: flex;
  flex:1;
  flex-direction:column;
  background-color: rgb(255, 115, 0);
  text-align: center;
  justify-content: center;
  color: white;
  font-weight:700;
}

.title-section {
  flex:6;
  display:flex;
  flex-direction: column;
  margin: 30px;
}
.titlle {
  display: inline-block;
}

.time,
.venue
{
  color: rgba(51, 51, 51, 0.61);
  font-size: 1rem;
  font-weight: bold;
}


